        .footer {
            background-color: #FF6F61;
            padding: 16px 0;
            text-align: center;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footerCopy {
            font-size: 12px;
            color: #FFFFFF;
        }