.artistList {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 16px;
}

.artistCard {
    list-style: none;
}

.artistCardLink {
    display: block flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    list-style: none;
    overflow: auto;
}

.artistCard:hover {
    transition: transform .3s, box-shadow .2s linear;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}

.artistCard .h2 {
    font-size: 16px;
    color: #1A1A1A;
}

@media (max-width: 700px) {
    .artistList {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        gap: 12px;
    }

    .artistCard .img {
        width: 60px;
        height: 60px;
    }

    .artistCard .h2 {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .artistCard .img {
        width: 50px;
        height: 50px;
    }

    .artistCard .h2 {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .artistList {
        grid-template-columns: repeat(1, minmax(120px, 1fr));
    }

    .artistCard .img {
        width: 50px;
        height: 50px;
    }

    .artistCard .h2 {
        font-size: 14px;
    }
}