.input {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #A8D8FF;
    border-radius: 24px;
    outline: none;
    background-color: #fff;
}

/*media*/
@media (max-width: 700px) {

    .input {
        font-size: 14px;
        padding: 10px 14px;
    }
}

/* 600px以下のレスポンシブ */
@media (max-width: 600px) {

    .input {
        font-size: 15px;
        padding: 11px 14px;
    }
}

@media (max-width: 500px) {
    .input {
        font-size: 13px;
        padding: 8px 12px;
    }
}