        /* メインコンテナ */
        .main {
            max-width: 600px;
            min-height: calc(100vh - 100px);
            margin: 0 auto;
            padding: 24px 16px;
        }

        /*media*/
        @media (max-width: 700px) {
            .main {
                width: 90%;
                padding: 24px 16px;
            }
        }

        /* 600px以下のレスポンシブ */
        @media (max-width: 600px) {
            .main {
                width: 90%;
                padding: 24px 16px;
            }
        }

        @media (max-width: 500px) {
            .main {
                width: 90%;
                padding: 24px 16px;
            }
        }