.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #329DFF;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .button {
        font-size: 16px;
        padding: 10px;
    }
}

/* 600px以下のレスポンシブ */
@media (max-width: 600px) {
    .button {
        font-size: 17px;
        padding: 11px;
    }
}

@media (max-width: 500px) {
    .button {
        font-size: 14px;
        padding: 8px;
    }
}